{sqldir}/*.log {
    weekly
    rotate 4
    compress
    delaycompress
    missingok
    notifempty
    postrotate
        [ -f {sqldir}/api.pid ] && kill -HUP `cat {sqldir}/api.pid`
        [ -f {sqldir}/daemon.pid ] && kill -HUP `cat {sqldir}/daemon.pid`
    endscript
}
